<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../favicon.ico">
		<link href="/bootstrap/css2/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link href="./css/owl.carousel.css" rel="stylesheet">
		<link href="./css/owl.theme.default.min.css"  rel="stylesheet">
		<link href="./css/style.css" rel="stylesheet">
		<script src="./js/ie-emulation-modes-warning.js"></script>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    
    <title>Adv</title>

    <!-- Bootstrap core CSS -->
    <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body class="bg-light">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="\">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="\usuario">Usuários<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link active" href="\novo">Cadastro</a>
        </div>
      </div>
    </nav>
    <header>
			<div class="container">
				<div class="slider-container">
					<div class="intro-text">
							<div class="intro-heading">Seja bem vindo</div>
						<!-- <div class="intro-lead-in">Keila Advocacia!</div> -->
						<a href="#about" class="page-scroll btn btn-xl">Saiba Mais</a>
					</div>
				</div>
			</div>
		</header>
		<section id="about" class="light-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>Sobre</h2>
							<p>Somos recém formados em advocacia, porém a nossa maior prioridade é o bem estar e a integridade do nosso cliente onde não medimos esforços para que você fique satisfeito com o nosso serviço </p>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- about module -->
					<div class="col-md-3 text-center">
						<div class="mz-module-about">
							<i class="fa fa-briefcase ot-circle"></i>
							<h3>Direito Civil</h3>
							<p>Representar interesses individuais e particulares em ações referentes à propriedade e posse de bens ou questões familiares, como divórcio, adoção e sucessão. Direito Civil é a maior área do Direito brasileiro e engloba várias especializações: Direito contratual, Direito de família, Direito das coisas, Responsabilidade Civil etc.</p>
						</div>
					</div>
					<!-- end about module -->
					<!-- about module -->
					<div class="col-md-3 text-center">
						<div class="mz-module-about">
							<i class="fa fa-briefcase ot-circle"></i>
							<h3>Direito comercial ou empresarial</h3>
							<p>Defender os empresários e sociedades empresárias diante dos seus interesses comerciais, tais como a concorrência, marca, patente e nos processos de falência e recuperação de empresa. Esse profissional também atua elaborando contratos e estatutos sociais. Em grandes centros comerciais, esse especialista tem atuado como agente de Compliance dentro das empresas privadas, implantando políticas de prevenção e combate à corrupção.</p>
						</div>
					</div>
					<!-- end about module -->
					<!-- about module -->
					<div class="col-md-3 text-center">
						<div class="mz-module-about">
							<i class="fa fa-briefcase ot-circle"></i>
							<h3>Direito do consumidor</h3>
							<p>Defender os interesses do consumidor aplicando as normas que concedem aos cidadãos direitos perante fornecedores de bens e serviços. Mas não só os consumidores! Os advogados especialistas em Direito do consumidor também propõem a defesa dos fornecedores. A legislação básica do profissional da área é o Código de Defesa do Consumidor.</p>
						</div>
					</div>
					<!-- end about module -->
					<!-- about module -->
					<div class="col-md-3 text-center">
						<div class="mz-module-about">
							<i class="fa fa-briefcase ot-circle"></i>
							<h3>Direito da tecnologia da informação</h3>
							<p> Este, sem dúvida, é o advogado do futuro! A ele compete analisar as questões jurídicas ligadas ao uso da informática e às relações entre usuários, agentes e fornecedores, como provedores de internet, empresas de softwares, bancos e lojas virtuais. Com o advento do Marco Civil da Internet, o advogado especialista nessa área está cada vez mais cobiçado.</p>
						</div>
					</div>
					<!-- end about module -->
				</div>
			</div>
			<!-- /.container -->
		</section>
		<section >
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="skills-text">
							<h2>Advogado</h2>
							<p>Um advogado é um profissional liberal, graduado em direito e autorizado pelas instituições competentes de cada país a exercer o jus postulandi, ou seja, a representação dos legítimos interesses das pessoas físicas ou jurídicas em juízo ou fora dele, quer entre si, quer ante o Estado.

								O advogado é uma peça essencial para a administração da justiça e instrumento básico para assegurar a defesa dos interesses das partes em juízo.
								
								Por essa razão, a advocacia não é simplesmente uma profissão, mas, um munus publicum, ou seja, um encargo público, já que, embora não seja agente estatal, compõe um dos elementos da administração democrática do Poder Judiciário.
								
								Pode-se decompor a atuação da advocacia em sete funções jurídicas básicas:
								
								Assessoria jurídica (interna ou externa, inclusive no apoio negocial, em tempo real);
								Consultoria jurídica (externa ou interna - Outside Counsel - In-House Counsel);
								Procuradoria jurídica;
								Auditoria jurídica;
								Controladoria jurídica;
								Planejamento jurídico;
								Ensino jurídico.</p>
						</div>
					</div>
					<div class="col-md-6">
						<!-- skill bar item -->
						<div class="skillbar-item">
							<div class="skillbar-score">
								<span class="score">90</span><span class="percent"></span>
							</div>
							<div class="skillbar" data-percent="90%">
								<h3>Quantidade de casos defendidos</h3>
								<div class="skillbar-bar">
									<div class="skillbar-percent" style="width: 90%;">
									</div>
								</div>
							</div>
						</div>
						<!-- skill bar item -->
						<div class="skillbar-item">
							<div class="skillbar-score">
								<span class="score">80</span><span class="percent"></span>
							</div>
							<div class="skillbar" data-percent="80%">
								<h3>Quantidade de Casos Ganhos</h3>
								<div class="skillbar-bar">
									<div class="skillbar-percent" style="width: 80%;">
									</div>
								</div>
							</div>
						</div>
						<!-- skill bar item -->
						<div class="skillbar-item">
							<div class="skillbar-score">
								<span class="score">100</span><span class="percent">%</span>
							</div>
							<div class="skillbar" data-percent="85%">
								<h3>Satisfação do cliente</h3>
								<div class="skillbar-bar">
									<div class="skillbar-percent" style="width: 100%;">
									</div>
								</div>
							</div>
						</div>
						<!-- skill bar item -->
						<div class="skillbar-item">
							<div class="skillbar-score">
								<span class="score">70</span><span class="percent">%</span>
							</div>
							<div class="skillbar" data-percent="70%">
								<h3>Marketing</h3>
								<div class="skillbar-bar">
									<div class="skillbar-percent" style="width: 70%;">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="overlay-dark bg-img1 dark-bg short-section">
			<div class="container text-center">
				<div class="row">
					<div class="col-md-3 mb-sm-30">
						<div class="counter-item">
							<h2 data-count="59">5</h2>
							<h6>Time</h6>
						</div>
					</div>
					<div class="col-md-3 mb-sm-30">
						<div class="counter-item">
							<h2 data-count="1054">158</h2>
							<h6>Clientes</h6>
						</div>
					</div>
					<div class="col-md-3 mb-sm-30">
						<div class="counter-item">
							<h2 data-count="34">124</h2>
							<h6>Casos ganhos</h6>
						</div>
					</div>
					<div class="col-md-3 mb-sm-30">
						<div class="counter-item">
							<h2 data-count="154">154</h2>
							<h6>Casos Perdidos</h6>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>Curiosidades</h2>
							<p>Sobre Advocacia</p>
						</div>
					</div>
				</div>
	
			</div>
		</section>
		<section id="team" class="light-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>Nosso Time</h2>
							<p>Nos conhecemos na faculdade de direito onde surgiu a id'eia de abrirmos um escritorio de advocacia. Nosso convivio em grupo é perfeito, somos amigos a muito tempo e sempre colocamos o cliente em primeiro lugar </p>
						</div>
					</div>
				</div>
		
			</div>
		</section>
		<section id="contact">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>Contato</h2>
							<p>Caso queira nos conhecer entre em contato, estamos anciósos para te conhecer</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<h3>Escritório</h3>
						<p>Rua Marcos paulo silva N 654, Jardim das Flores, Franca SP</p>
						<p><i class="fa fa-phone"></i> 16 996541235</p>
						<p><i class="fa fa-envelope"></i> contato@advocacia.com</p>
					</div>
					<div class="col-md-3">
						<h3>Horario de trabalho</h3>
						<p><i class="fa fa-clock-o"></i> <span class="day">Semana:</span><span>9h ás 18h</span></p>
						<p><i class="fa fa-clock-o"></i> <span class="day">Sábado:</span><span>9h ás 18h</span></p>
						<p><i class="fa fa-clock-o"></i> <span class="day">Domingo:</span><span>Fechado</span></p>
					</div>
					<div class="col-md-6">
						<form name="sentMessage" id="contactForm" novalidate="">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Seu Nome *" id="name" required="" data-validation-required-message="Please enter your name.">
										<p class="help-block text-danger"></p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="email" class="form-control" placeholder="Seu Email *" id="email" required="" data-validation-required-message="Please enter your email address.">
										<p class="help-block text-danger"></p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<textarea class="form-control" placeholder="Sua Mensagem *" id="message" required="" data-validation-required-message="Please enter a message."></textarea>
										<p class="help-block text-danger"></p>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="row">
								<div class="col-lg-12 text-center">
									<div id="success"></div>
									<button type="submit" class="btn">Enviar Mensagem</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<p id="back-top">
			<a href="#top"><i class="fa fa-angle-up"></i></a>
		</p>
		<!-- Bootstrap core JavaScript
			================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
		<script src="./js/bootstrap.min.js"></script>
		<script src="./js/owl.carousel.min.js"></script>
		<script src="./js/cbpAnimatedHeader.js"></script>
		<script src="./js/theme-scripts.js"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="./js/ie10-viewport-bug-workaround.js"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="/popper/dist/umd/popper.min.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
  </body>
</html>
